@media screen (min-width: 0px) and (max-width: 319px) {
}
@media  (max-width: 480px) {
    /* Nav */
    .page__header{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
    nav {
      position: relative;
    }
    .navbar__menu.closed{
      display: none;
    }
    .navbar__menu{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: inherit;
    }
    .navbar__list{
      display: flex;
      position: relative;
    }
    .parent_sp{
      position: absolute;
      top: 500%;
    }
    /* About */
     .about-section h2{
        font-size: 1.4rem;
        text-align: center;
    }
    .about-section h2 span{
        font-size: 1.0986em;
        width: 100%;
        text-align: center ;
        word-spacing: 0px;
    }
    .about-section {
      padding-left: 6em;
      display: flex;
      justify-content: center;
   }
    .main-btn{
    font-size: 0.9em;
    padding: 0.84em;
     margin: 1.8em;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: no wrap;
        padding-left: 1em ;
        padding-right: 1em;
    }
    /* Skills */
    .skills{
        width: 100%;
        padding: 0.5em;
        padding-top: 20px ;

     }
     .skills .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 4.4em;
     }
     .skills .card{
        width: 45%;
        font-size: 0.7em;
        margin: 0.5em;
     }
     /* Projects */
     .projects{
        width: 100%;
        padding: 0;
     }
     .projects .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 1px;
     }
     .project-card{
        width: 40%;
        font-size: 0.7em;
        margin: 1em;
     }
     /* Contact */
     .contact{
        width: 100%;
        padding: 1px;
     }
     .contact .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 70px;
     }
     .contact .card{
        width: 40%;
        font-size: 15px;
        margin: 5px 5px;
     }
     .phone-no{
        font-size: 15px;
     }
     .fa-whatsapp{
        font-size: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
     }
     .fa-whatsapp .info h3{
    }
}
@media (max-width: 768px) {
   /* Nav */
    .page__header{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
    nav {
      position: relative;
    }
    .navbar__menu.closed{
      display: none;
    }
    .navbar__menu{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: inherit;
    }
    .navbar__list{
      display: flex;
      position: relative;
    }
    .parent_sp{
      position: absolute;
      top: 500%;
    } */
    /* About */
     .about-section h2{
        font-size: 1.4rem;
        text-align: center;
    }
    .about-section h2 span{
        font-size: 1.0986em;
        width: 100%;
        text-align: center ;
        word-spacing: 0px;
    }
    .about-section {
      padding-left: 6em;
      display: flex;
      justify-content: center;
   }
    .main-btn{
    font-size: 0.9em;
    padding: 0.84em;
     margin: 1.8em;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: no wrap;
        padding-left: 1em ;
        padding-right: 1em;
    }
    /* Skills */
    .skills{
        width: 100%;
        padding: 0.5em;
        padding-top: 20px ;

     }
     .skills .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 4.4em;
     }
     .skills .card{
        width: 45%;
        font-size: 0.7em;
        margin: 0.5em;
     }
     /* Projects */
     .projects{
        width: 100%;
        padding: 0;
     }
     .projects .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 1px;
     }
     .project-card{
        width: 40%;
        font-size: 0.7em;
        margin: 1em;
     }
     /* Contact */
     .contact{
        width: 100%;
        padding: 1px;
     }
     .contact .content{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-bottom: 70px;
     }
     .contact .card{
        width: 40%;
        font-size: 15px;
        margin: 5px 5px;
     }
     .phone-no{
        font-size: 15px;
     }
     .fa-whatsapp{
        font-size: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
     }
     .fa-whatsapp .info h3{
    }
}
@media (max-width: 1024px) {
 /* Nav */
 .page__header{
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
 }
 nav {
   position: relative;
 }
 .navbar__menu.closed{
   display: none;
 }
 .navbar__menu{
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     width: 100%;
     position: absolute;
     top: 100%;
     background-color: inherit;
 }
 .navbar__list{
   display: flex;
   position: relative;
 }
 .parent_sp{
   position: absolute;
   top: 500%;
 } */
 /* About */
 .about-section {
   display: flex;
   justify-content: left;
}
  .about-section h2{
     font-size: 2em;
     text-align: left;
 }
 .about-section h2 span{
     font-size: 1.0986em;
     width: 100%;
     text-align: left ;
     word-spacing: 0px;
 }

 .main-btn{
 font-size: 0.9em;
 padding: 0.84em;
  margin: 1.8em;
 }
 .social-icons{
     display: flex;
     flex-direction: row;
     flex-wrap: no wrap;
     padding-left: 1em ;
     padding-right: 1em;
 }
 /* Skills */
 .skills{
     width: 100%;
     padding: 0.5em;
     padding-top: 20px ;

  }
  .skills .content{
     display: flex; 
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     padding-bottom: 4.4em;
  }
  .skills .card{
     width: 43%;
     font-size: 0.7em;
     margin: 1em;
  }
  /* Projects */
  .projects{
     width: 100%;
     padding: 0;
  }
  .projects .content{
     display: flex; 
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     padding-bottom: 2em;
  }
  .project-card{
     width: 40%;
     font-size: 0.7em;
     margin: 1.3em;
  }
  /* Contact */
  .contact{
     width: 100%;
     padding: 1px;
  }
  .contact .content{
     display: flex; 
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     padding-bottom: 70px;
  }
  .contact .card{
     width: 40%;
     font-size: 15px;
     margin: 1em;
  }
  .phone-no{
     font-size: 15px;
  }
  .fa-whatsapp{
     font-size: 1em;
     padding-top: 0.1em;
     padding-bottom: 0.1em;
  }
  .fa-whatsapp .info h3{
 }
}
@media (max-width: 1200px) {
}
@media screen (min-width: 1201px){
}